{% extends 'main.html' %} {% block content %}
<h1>Projects</h1>
<table>
  <tr>
    <th>ID</th>
    <th>Project</th>
    <th>Positive Votes</th>
    <th>Votes</th>
    <th>Date</th>
    <th></th>
  </tr>
  {% for project in projects %}
  <tr>
    <th>{{project.id}}</th>
    <th>{{project.title}}</th>
    <th>{{project.vote_ratio}}%</th>
    <th>{{project.vote_total}}</th>
    <th>{{project.created}}</th>
    <th><a href="{% url 'project' project.id %}">View</a></th>
  </tr>
  {% endfor %}
</table>
{% endblock content %}
